<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyH6_rxueEsjg0nKXAN23lhziVfY1rirU&libraries=places&sensor=false"></script>
  <script>
$( document ).ready(function() {    
<% @results.find do |r| %>
  var map;
    function initialize() {
    var mapOptions = {
    zoom: 11,
    center: new google.maps.LatLng(<%= r.lat %>, <%= r.lng %>)
  };
  
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
      
<% @results.each do |x| %>
   <% unless x.lat == nil %>

      var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h3 id="firstHeading" class="firstHeading"><a href="<%= x.website %>"><%= x.display_name.titleize %></a></h3>'+
      '<div id="bodyContent">'+
      '<span class="glyphicon glyphicon-calendar"></span><a href="/map/show/<%= x.id %>" style="text-decoration:none"> Upcoming Shows</a>' +
      '<address style=><p><%= x.street %></p>'+
      '<p><%= x.metro_area.display_name %>, <%= x.metro_area.state %></p>'+
      '<p><%= x.zip %></p></address>'+
      '<p><span class="glyphicon glyphicon-earphone"></span> <%= x.phone %></p>'+
      '</div>'+
      '</div>';
      
  var myinfowindow = new google.maps.InfoWindow({
      content: contentString,
      maxWidth: 300
  });
      
  var marker = new google.maps.Marker({
      position: new google.maps.LatLng(<%= x.lat %>, <%= x.lng %>),
      map: map,
      title: '<%= x.display_name %>',
      animation: google.maps.Animation.DROP,
      infowindow: myinfowindow
  });
            
google.maps.event.addListener(marker, 'click', function() {
    this.infowindow.open(map, this);
    console.log("hello");
  });
      <% end %>
<% end %>        
}

google.maps.event.addDomListener(window, 'load', initialize);
             
<% end %>  
});
  </script>
</head>
  <body>
    <div class="row">
      <div class="col-sm-7">
      <div id="map-canvas"></div>
      </div>
      <div class="col-sm-5">
        <% @results.find do |r| %>
        <h3><strong>Music Venues for <%= r.metro_area.display_name %></strong></h3>
        <% end %>
        <% @results.each do |r| %>   
          <% unless r.lat == nil %>
        <h5><span class="glyphicon glyphicon-music"></span> <strong><%= r.display_name.titleize %></strong>  <a href="/map/show/<%= r.id %>" style="text-decoration:none"> Upcoming Shows</a></h5>      
        <% end %>
        <% end %>
      </div>
    </div>
    <script>   
 </script>
</body>
</html>
